@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa {
    margin: 0 5px;
}

a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.loading {
    text-align: center;
    font-size: 20px;
}

.homepage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.home-content {
    padding-top: 200px;
}

.home-content > h1 {
    color: rgb(34, 34, 34)
}

.home-content > div {
    text-align: right;
    margin-top: 15px;
    font-size: 20px;
}

.home-content > div:hover {
    opacity: 0.85;
}

audio {
    outline: none;
}